@font-face {
    font-family: 'vt220';
    src: url('./fonts/glass_tty_vt220-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
}

.hero {
    flex: 1 1;
    background-image: url(./images/crt-background1.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    text-align: center;
}

.content {
    flex: 2 50;
    background: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background: rgb(0, 0, 0, 0.5);
    padding: 45px 0;
    margin-top: 230px;
}

.title-container {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: rgb(232, 229, 229);
    font-family: vt220, Arial, Helvetica, sans-serif;
    font-size: 95px;
    position: relative;
    top: 10px;
    text-shadow: 0px 0px 8px rgba(232,229,229,1);
}

.header span {
    color: rgb(232, 229, 229);
    font-family: vt220, Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 0px 0px 8px rgba(232,229,229,1);
}

.before {
    align-self: flex-start;
}

.after {
    align-self: flex-end;
}

.credit,
.credit a {
    color: rgb(232, 229, 229);
    font-size: 15px;
}

.intro,
button,
.login {
    margin: 0 70px;
}

.intro {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
}

.signup-form {
    margin-top: 53px;
    margin-bottom: 38px;
    background: #fff;
    padding: 20px 70px 40px 70px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.25);
}

.signup-form h1 {
    font-size: 22px;
    margin-bottom: 40px;
    color: #333;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 60px;
    max-width: 765px;
}

.form-group {
    max-width: 350px;
    min-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
}

.phone-label {
    margin-top: 4px;
}

.asterisk {
    color: #ff0000;
    font-size: 13.6px;
}

input {
    height: 39px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px;
    padding: 9px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border: 1px solid blue;

}

input:invalid:not(:placeholder-shown):not(:focus) {
    border: 1px solid red;
}

input:required:valid:focus {
    border: 1px solid green;
}

input + span {
    position: relative;
}

input + span::after {
    position: absolute;
    right: -20px;
    top: -30px;
}

input:not(:placeholder-shown):valid:focus {
    border: 1px solid green;
}

input:not(:placeholder-shown):valid + span::after { 
    content: "✓";
    color: green;
}

.optional {
    color: #bcbdbf;
}

input::placeholder {
    font-size: 13px;
    color: #bcbdbf;
}

button {
    width: 210px;
    font-size: 17px;
    font-weight: bold;
    background: #28548a;
    color: #fff;
    padding: 15px 0;
    border: none;
    border-radius: 6px;
    margin-bottom: 40px;
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.24);
}

button:hover {
    cursor: pointer;
    filter: brightness(110%);
}

button:active {
    filter: brightness(100%);
}

.login {
    margin-bottom: 30px;
    color: #333;
}

.login a {
    text-decoration: none;
    color: #28548a;
    font-weight: bold;
}

.login a:hover {
    filter: brightness(110%);
}

@media screen and (max-width: 1202px) {
    form h1 {
        text-align: center;
    }
    
    .inputs-container {
        justify-content: center;
    }
    
    .intro {
        text-align: center;
        margin: 50px 70px 0;
    }

    button {
        margin: 0 auto 40px;
    }

    .login {
        text-align: center;
    }
}

@media screen and (max-width: 955px) {
    .container {
        display: block;
    }

    .inputs-container {
        padding: 0 65px;
    }

    .header {
        margin: 190px 0;
    }

    .intro {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .hero,
    .content {
        width: 400px;
        flex-shrink: 0;
    }

    
}

.message {
    margin-top: 5px;
    font-size: 12px;
    color: #919293;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.message.active {
    height: 70px;
}

.valid {
    color: green;
    position: relative;
    left: 4px;
}

.valid:before {
    position: relative;
    left: -5px;
    content: "✔";
}

.invalid {
    position: relative;
    left: 4px;
}

.invalid:before {
    position: relative;
    left: -5px;
    content: "✖";
}

#pw-match {
    font-size: 12px;
    color: red;
    position: relative;
    top: 6px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out; 
}

#pw-match.active {
    height: 14px;
}

.footer {
    color: #fff;
    background: #333;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #28548a;
    filter: brightness(200%);
}